@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Creepster&family=Montserrat&family=Nunito+Sans:wght@300;400;600&family=Quicksand:wght@500&family=Raleway&family=Rubik+Spray+Paint&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Comic Neue", cursive;
}

body {
  margin: 0;
}

.send-icon {
  transform: rotate(0) !important;
  margin-left: 10px !important;
}

#ce-social-msg-form-container {
  background-color: whitesmoke !important;
}

#msg-textarea {
  background-color: whitesmoke !important;
  border: none !important;
}

.anticon-plus svg {
  display: block !important;
}

.anticon-setting {
  margin-left: 10px !important;
}
